
 a:focus  {
    color:#06132D !important;
    animation-duration: 15ms;
  
}



a{
    font-size: 14px !important;
}


.card-body{
    background-color:#857250 !important;
    border-color: black !important;
    
}

.btn{
    background-color: #06132D !important;
}

.zdex{
    z-index: -1 !important;
   
}

.card-group{

    background-color: #06132D  !important;
    border-color: #06132D !important;
    border-style: outset;
}

.jumbotron{
    background-color: #857250 !important;
    border-color: #06132D !important;
    border-style: outset;
}

.form{
    border-color: #06132D !important;
    border-style: outset;
    background-color: #06132D !important;
}

.cstmbtn{
    background-color: #857250 !important;
}
}
a{
    text-decoration: none !important;
}

.font{
    font-size: 14px !important;
}

.card-group p{
    font-size: 18px;
}
.navbar-light .navbar-toggler{
    border-color: #0275d8 !important;
}

.navbar-light.navbar-toggler-icon{

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;

}
/* .navbar{
    background-color: #06132D  !important;
} */

.navbar-toggler{
    background-color: #06132D  !important;
   
}

.fontstyle
{
font-family: 'Supermercado One', sans-serif;
text-decoration-color: #857250 !important;
}

nav a{
    font-family: 'Supermercado One', sans-serif;

}

.resize{

    min-width: auto  !important;
}

.input-group{
    width: 25rem !important;
}

.container p{
    color: #06132D !important;
}
.container h1{
    color: #06132D !important;
}

