 a:hover {
    color:#06132D !important;
   
}

a{
    font-size: 14px !important;
}


.card-body{
    background-color:#857250 !important ;
}

.zdex{
    z-index: -1 !important;
   
}

.card-group{

    background-color: #06132D  !important;
}
a{
    text-decoration: none !important;
}

.font{
    font-size: 12px !important;
}

.navbar-light .navbar-toggler-icon {
   
}

.navbar-toggler{
    background-color: #06132D  !important;

}

.fontstyle
{font-family: 'Abel', sans-serif;
font-family: 'Supermercado One', cursive;
}

.resize{

    min-width: auto;  !important;
}